body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: wheat;
}



.slider-container {
    width: 500px;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    position: relative;
}

.image-container {
    display: flex;
    transition: transform .4s ease-in-out;
}

.btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 25px;
    opacity: .5;
    cursor: pointer;
}
.btn.prev {
    left: 10px;
}

.btn.next {
    right: 10px;
}

.btn:hover{
    opacity: 1;
}